### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
players = purchase_data["SN"].nunique()
data = {f'Total players': [players]}
df = pd.DataFrame(data)
df

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of Unique Items
items = purchase_data["Item ID"].nunique()
items

183

In [4]:
# Average Purchase Price
avg_price = np.round(purchase_data["Price"].sum()/purchase_data["Price"].count(),decimals=2) 
avg_price

3.05

In [5]:
# Total Number of Purchases
qty_purchase = purchase_data["Purchase ID"].count()
qty_purchase

780

In [6]:
# Total Revenue
tot_revenue = purchase_data["Price"].sum()
tot_revenue
'${:,.2f}'.format(tot_revenue)

'$2,379.77'

In [7]:
tot_analysis = {"Number of Unique Items": [items], 
                "Average Price":'${:,.2f}'.format(avg_price),
                "Number of Purchases":qty_purchase ,
             "Total Revenue":'${:,.2f}'.format(tot_revenue)}
df_tot = pd.DataFrame(tot_analysis )
df_tot

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [91]:
unique=purchase_data.drop_duplicates(subset ="SN")
gender =unique.groupby(['Gender']).count()["Purchase ID"]
female_count = gender.iloc[0]
male_count = gender.iloc[1]
other_count = gender.iloc[2]
tot_count = female_count + male_count + other_count
pct_female = 100*female_count/tot_count
pct_male = 100*male_count/tot_count
pct_other= 100*other_count/tot_count

Gender_Demographics={"Gender":["Female","Male","Other"],
                     "Count":[female_count, male_count, other_count],
                     "Percentage":[pct_female, pct_male,pct_other]}
df_tot = pd.DataFrame(Gender_Demographics )
df_tot.set_index("Gender")

81


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [109]:
#purchase_data.groupby["Gender"].sum()
purchase_data
tot_count_df = purchase_data.groupby(['Gender']).count()["Purchase ID"]
tot_revenue_gender_df = purchase_data.groupby(['Gender']).sum()["Price"]
tot_revenue_gender_df
female_rev = '${:,.2f}'.format(tot_revenue_gender_df.iloc[0])
male_rev = '${:,.2f}'.format(tot_revenue_gender_df.iloc[1])
other_rev= '${:,.2f}'.format(tot_revenue_gender_df.iloc[2])

#purchase_data["Gender","Price"]sum(level="Price")
#pur_analysis_df = purchase_data[['Gender', 'Price']]
#pur_analysis_df.groupby(['Gender'], sort=True).sum()
#pur_analysis_df.groupby('Gender').count()

In [110]:
female_purch_count = tot_count_df.iloc[0]
male_purch_count = tot_count_df.iloc[1]
other_purch_count = tot_count_df.iloc[2]
avg_female_purch = '${:,.2f}'.format(female_rev/female_purch_count)
avg_male_purch ='${:,.2f}'.format(male_rev/male_purch_count)
avg_other_purch='${:,.2f}'.format(other_rev/other_purch_count)
avg_female_per_purch = '${:,.2f}'.format(female_rev/female_count)
avg_male_per_purch='${:,.2f}'.format(male_rev/male_count)
avg_other_per_purch='${:,.2f}'.format(other_rev/other_count)

TypeError: ufunc 'true_divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [111]:
Purchasing_Analysis={"Gender":["Female","Male","Other"],
                     "Purchase count":[female_purch_count, male_purch_count, Other_purch_count],
                     "Average Purchase Price":[avg_female_purch, avg_male_purch,avg_other_purch],
                     "Total Purchase Value":[female_rev,male_rev,other_rev],
                     "Avg Total Purchase per Person":[avg_female_per_purch,avg_male_per_purch,avg_other_per_purch]}
pd.DataFrame(Purchasing_Analysis).set_index("Gender")

,Purchase count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
bins = [10, 15, 20, 25, 30, 35, 40]
#unique
unique["Age"] = pd.cut(unique["Age"], bins)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
purchase_data["Item Name"]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame