### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
players = purchase_data["SN"].nunique()
data = {f'Total players': [players]}
df = pd.DataFrame(data)
df

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of Unique Items
items = purchase_data["Item ID"].nunique()
items

183

In [4]:
# Average Purchase Price
avg_price = np.round(purchase_data["Price"].sum()/purchase_data["Price"].count(),decimals=2) 
avg_price

3.05

In [5]:
# Total Number of Purchases
qty_purchase = purchase_data["Purchase ID"].count()
qty_purchase

780

In [6]:
# Total Revenue
tot_revenue = purchase_data["Price"].sum()
tot_revenue
'${:,.2f}'.format(tot_revenue)

'$2,379.77'

In [7]:
# Dataframe to show
tot_analysis = {"Number of Unique Items": [items], 
                "Average Price":'${:,.2f}'.format(avg_price),
                "Number of Purchases":qty_purchase ,
               "Total Revenue":'${:,.2f}'.format(tot_revenue)}
df_tot = pd.DataFrame(tot_analysis )
df_tot

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
unique=purchase_data.drop_duplicates(subset ="SN")
gender =unique.groupby(['Gender']).count()["Purchase ID"]
female_count = gender.iloc[0]
male_count = gender.iloc[1]
other_count = gender.iloc[2]
tot_count = female_count + male_count + other_count
pct_female = female_count/tot_count
pct_male = male_count/tot_count
pct_other= other_count/tot_count

Gender_Demographics={"Gender":["Female","Male","Other"],
                     "Count":[female_count, male_count, other_count],
                     "Percentage":[pct_female, pct_male,pct_other]}

df_tot = pd.DataFrame(Gender_Demographics).set_index("Gender")
df_tot.style.format({'Percentage': '{:,.2%}'.format})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
purchase_data
tot_count_df = purchase_data.groupby(['Gender']).count()["Purchase ID"]
tot_revenue_gender_df = purchase_data.groupby(['Gender']).sum()["Price"]
tot_revenue_gender_df
female_rev = tot_revenue_gender_df.iloc[0]
male_rev =tot_revenue_gender_df.iloc[1]
other_rev= tot_revenue_gender_df.iloc[2]

In [10]:
female_purch_count = tot_count_df.iloc[0]
male_purch_count = tot_count_df.iloc[1]
other_purch_count = tot_count_df.iloc[2]
avg_female_purch = '${:,.2f}'.format(female_rev/female_purch_count)
avg_male_purch ='${:,.2f}'.format(male_rev/male_purch_count)
avg_other_purch='${:,.2f}'.format(other_rev/other_purch_count)
avg_female_per_purch ='${:,.2f}'.format(female_rev/female_count)
avg_male_per_purch='${:,.2f}'.format(male_rev/male_count)
avg_other_per_purch='${:,.2f}'.format(other_rev/other_count)

In [11]:
Purchasing_Analysis={"Gender":["Female","Male","Other"],
                     "Purchase count":[female_purch_count, male_purch_count, other_purch_count],
                     "Average Purchase Price":[avg_female_purch, avg_male_purch,avg_other_purch],
                     "Total Purchase Value":['${:,.2f}'.format(female_rev),'${:,.2f}'.format(male_rev),'${:,.2f}'.format(other_rev)],
                     "Avg Total Purchase per Person":[avg_female_per_purch,avg_male_per_purch,avg_other_per_purch]}
pd.DataFrame(Purchasing_Analysis).set_index("Gender")

,Purchase count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
bins = [0, 9, 14, 19, 24, 29, 34, 39,120]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]
unique["Age Summary"] = pd.cut(unique["Age"], bins,labels=group_names)
unique["Age Summary"]
unique_cate = unique.groupby(["Age Summary"]).count()["Purchase ID"]
df_unique_cate = pd.DataFrame(unique_cate)
df_unique_cate.rename(columns={"Purchase ID": "Total count"}, inplace=True)  

df_unique_cate

C:\Users\wwwka\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

             Total count
Age Summary
<10                   17
10-14                 22
15-19                107
20-24                258
25-29                 77
30-34                 52
35-39                 31
40+                   12

In [13]:
percentage_10 =round(unique_cate.iloc[0]*100/players,2)
percentage_14=round(unique_cate.iloc[1]*100/players,2)
percentage_19=round(unique_cate.iloc[2]*100/players,2)
percentage_24=round(unique_cate.iloc[3]*100/players,2)
percentage_29=round(unique_cate.iloc[4]*100/players,2)
percentage_34=round(unique_cate.iloc[5]*100/players,2)
percentage_39=round(unique_cate.iloc[6]*100/players,2)
percentage_40=round(unique_cate.iloc[7]*100/players,2)

d = pd.DataFrame({"<10":[percentage_10],"10-14":[percentage_14],"15-19":[percentage_19],"20-24":[percentage_24],
    "25-29":[percentage_29],"30-34":[percentage_34],"35-39":[percentage_39],"40+":[percentage_40]})
d_t = d.transpose()
d_t.index.name = 'Age Summary'
d_t.rename(columns={0: 'Percentage of Players'}, inplace=True)  

d_final=pd.merge(df_unique_cate,d_t,how="left",on="Age Summary")
d_final

             Total count  Percentage of Players
Age Summary
<10                   17                   2.95
10-14                 22                   3.82
15-19                107                  18.58
20-24                258                  44.79
25-29                 77                  13.37
30-34                 52                   9.03
35-39                 31                   5.38
40+                   12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
purchase_data["Age Summary"] = pd.cut(purchase_data["Age"], bins,labels=group_names)
purchase_data["Age Summary"]
purchase_cate = purchase_data.groupby(["Age Summary"]).count()["Purchase ID"]

purchase_cate_totrev = purchase_data.groupby(["Age Summary"]).sum()["Price"]

purchase_cate_avgpur=purchase_cate_totrev/purchase_cate
purchase_cate_avgpurpp=purchase_cate_totrev/unique_cate
purchase_cate_avgpurpp

df_pur=pd.concat([purchase_cate,purchase_cate_avgpur,purchase_cate_totrev,purchase_cate_avgpurpp],axis=1)
df_pur.rename(columns={"Purchase ID": "Purchase Count",
                        0:"Average Purchase Price",
                       "Price":"Total Purchase Value",
                        1:"Avg Total Purchase per Person"}, inplace=True)
df_pur

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Summary,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:

spend_total = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
spend_average = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
spend_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

spend_df = pd.DataFrame({"Total Purchase Value": spend_total, "Average Purchase Price": spend_average, "Purchase Count": spend_count})
spend_sorted = spend_df.sort_values("Total Purchase Value", ascending=False)

#Print dataframe
spend_sorted["Average Purchase Price"] = spend_sorted["Average Purchase Price"].map("${:,.2f}".format)
spend_sorted["Total Purchase Value"] = spend_sorted["Total Purchase Value"].map("${:,.2f}".format)
spend_sorted = spend_sorted.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

spend_sorted.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [37]:
purchase_data["Item Name"]
items = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

items_total_purchase_value = items.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
items_total_purchase_value
items_price = items.groupby(["Item ID", "Item Name"]).mean()["Price"]
items_purchase_count = items.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

items_df = pd.DataFrame({"Total Purchase Value": items_total_purchase_value, "Item Price": items_price, "Purchase Count": items_purchase_count})

items_sorted_df = items_df.sort_values("Purchase Count", ascending=False)

#Print items
items_sorted_df["Item Price"] = items_sorted_df["Item Price"].map("${:,.2f}".format)
items_sorted_df["Purchase Count"] = items_sorted_df["Purchase Count"].map("{:,}".format)
items_sorted_df["Total Purchase Value"] = items_sorted_df["Total Purchase Value"].map("${:,.2f}".format)
popular_items = items_sorted_df.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [41]:
items_df = items_df.sort_values("Total Purchase Value", ascending=False)
items_df 

items_df["Item Price"] = items_df["Item Price"].map("${:,.2f}".format)
items_df["Purchase Count"] = items_df["Purchase Count"].map("{:,}".format)
items_df["Total Purchase Value"] = items_df["Total Purchase Value"].map("${:,.2f}".format)
item_profitable = items_df.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

item_profitable.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80